<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>sampletest</title>
  </head>
  <body>
<header class="page-header">
  <div class="page-header-inr inr">
<h1 class="page-header-logo">
  ロゴ配置場所
</h1>
<div class="page-header__info page-header-info">
  <div class="page-header-info_txt">
    <span>平日365日</span>
    <span>受付時間２４時間受付中！！</span>
  </div>
  <a class="page-info-contact__btn" href="#">お問い合わせ
  </a>
</div>
</div>
</header>
<main>
<div class="main-visual">
   <h2 class="main-visual_ttl">
    キャッチコピー<br>
    何かを掴むための学習
  </h2>
</div>
<section class="intro-section">
  <div class="intro-section__header section-header">
  <h3 class="section-header__ttl">section01の見出しです</h3>
  </div>
  <nav class="intro-section-nav">
<div class="inr">
<ol>
  <li>
<a href="#content1">1.パソコンサンプル</a>
  </li>
 <li>
   <a href="#content2">2.キーボード</a>
 </li>
 <li>
<a href="#content3">3.ノートサンプル</a>
 </li>
</ol>
</div>
  </nav>
  <div class="intro-section-content" id="content1">
<div class="intro-section-content__block" >
<div class="intro-section__img-area"></div>
<div class="intro-section__txt-area">
<h4>題名：パソコン</h4>
<p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト
</p>
</div>
</div>
<div class="intro-section-content__block" id="content2">
<div class="intro-section__img-area"></div>
<div class="intro-section__txt-area">
<h4>題名：キーボード</h4>
<p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト
</p>
</div>
</div>
<div class="intro-section-content__block" id="content3">
<div class="intro-section__img-area"></div>
<div class="intro-section__txt-area">
<h4>題名：ノート</h4>
<p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト
</p>
</div>
</div>
</div>
  <div class="intro-section-contact">
    <div class="inr">
    <div class="intro-section-contact-block">
<p class="contact-block__txt">TEL 00-0000-0000 <span>(受付時間　平日09:00~17:00)
</span>
</p>
<a class="intro-section-contact-block__btn" href="">お問い合わせボタン</a>
    </div>
    </div>
  </div>
</section>
</main>
<footer class="page-footer">
<div class="inr">
<p><small>これはフッターです。<br>
<%= link_to "ゲームをする" , help_path %>
</small></p>
</div>
</footer>
  </body>
</html>
